.square {
    width: 45px;
    height: 45px;
    border-radius: 13px;
    background: linear-gradient(279deg,#84B026,#127369);
    font-size: 34px;
    margin-left: 7px;
    cursor: pointer;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    transition: transform .2s ease-in-out;
}

.square p {
    margin-bottom: 5px;
}

.square:hover {
    transform: scale(1.1);
}