.film_container{
    width: var(--container-size);
    margin: auto;
    padding-top: 93px;
    gap: 10px;
    min-height: 100vh;
    padding-bottom: 93px;
}

@media (max-width: 1120px) {
    .film_container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.film_header {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.film_header-poster {
    position: relative;
}

.film_header-poster img {
    width: 300px;
    border-radius: 7px;
}

.film_header-desc {
    gap: 10px;
    width: 100%;
}

.film_header-about {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
    gap: 12px;
    
}

.about-item p {
    min-width: 250px;
    font-weight: 800;
}

.film_header-score {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    margin-left: auto;
}

@media (max-width: 1120px) {
    .film_header {
        flex-direction: column;
        align-items: center;
    }

    .film_header-poster {
        order: 1;
    }

    .film_header-desc {
        align-items: center;
        text-align: center;
        gap: 20px;
        order: 3;
    }

    .film_header-about {
        width: 70%;
    }

    .film_header-score{
        order: 2;
        margin-left: 0;
        gap: 30px;
    }

    .about-item {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .about-item p{
        text-align: center;
    }
    
}

/* comments */

.comments_header{
    font-size: 20px;
    font-weight: 800;
}

.comments_block{
    justify-content: flex-start;
    width: 100%;
    gap: 12px;
}

@media (max-width: 760px) {
    .comments_block {
        flex-direction: column;
        gap: 30px;
    }
}

.comments{
    gap:20px;
    width: 50%
}

.add_comment_block{
    width: 50%;
}

@media (max-width: 1120px) {
    .comments {
        width: 100%;
    }
    .add_comment_block{
        width: 100%;
    }
}