.nav_menu {
    margin-left: 35px;
    color: #bfbfbf;
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.nav_menu svg {
    fill: #bfbfbf;
}

.nav_item {
    transition: 0.1s ease-in-out;
    display: flex;
    align-items: center;
    gap: 3px;
}

.nav_item:hover {
    color: #fff;
    transform: scale(1.05);
}

.nav_item:hover .svg_fire {
    fill: #ffae00;
}

.nav_item:hover .svg_tv {
    fill: #00f7ff;
}

.nav_item:hover .svg_cup {
    fill: #f7e817;
}

@media (max-width: 1120px) {
    .nav_menu {
        align-items: center;
        position: absolute;
        top: calc(100vh - 80px);
        background-color: var(--main-color);
        right: 0;
        width: 100%;
        gap: 0;

        margin-left: 0;

        /* font-size: 16px; */

        -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    }

    .nav_item {
        height: 80px;
        width: 100%;
        justify-content: center;
    }

    .nav_item:hover {
        background-color: var(--main-color-hover);
    }
}

@media (max-width: 1120px) {
    .nav_menu {
        font-size: 16px;
    }
}

.svg_fire {
    width: 18px;
    height: 18px;
}

.svg_tv {
    width: 18px;
    height: 18px;
}

.svg_cup {
    width: 18px;
    height: 18px;
}
